<h1>Bookish</h1>


<% if user_signed_in? %> 
  <p>Welcome, <%= current_user.email %>!</p> 
    <%= button_to "Start chatting", "#" %>
    <%= image_tag(current_user.avatar_thumbnail) %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-primary' %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>